<div class="container mb-5">
   <div class="logind add-login">
       <div class="alert alert-success" *ngIf="alerta != ''" role="alert">
         {{ alerta }}
         </div>


      <h5 class="logind-header">Entre com seus dados</h5>
      <div class="logind-body">

         <form enctype="multipart/form-data" id="add-form">
         <div class="row">
            <div class="form-group col-md-4">
               <label for="model">Usuário</label>
               <input type="text" [(ngModel)]="username" id="username" name="username"required class="form-control"  placeholder="Digite o usuário">
               
            </div>
            <div class="form-group col-md-4">
               <label for="endereco">Senha</label>
               <input type="password" [(ngModel)]="password" id="password" name="password" required class="form-control"  placeholder="Digite a senha">
               
            </div>
            
            
            <div class="col-md-12">
               <button type="button" (click)="entrar()" class="btn btn-primary btn-add-login">Entrar</button>&nbsp;&nbsp;
               
            </div>
         </div>
         </form>
      </div>
   </div>
</div>
