

<div class="container">
   <div class="estabelecimentod list-estabelecimento">
        <div class="alert alert-success" *ngIf="alerta != ''" role="alert">
         {{ alerta }}
         </div>

         
      <h5 class="estabelecimentod-header">Lista de estabelecimentos</h5>
      <div class="estabelecimentod-body">
         <table class="table">
            <thead>
               <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Titulo</th>
                  <th scope="col">Endereço</th>
                  <th>Ações</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let estabelecimento of estabelecimentos">
                  <td>{{estabelecimento.id}}</td>
                  <td>{{estabelecimento.titulo}}</td>
                  <td>{{estabelecimento.endereco}}</td>
                  <td>
                     <button type="button" class="btn btn-warning btn-sm" (click)="editEstabelecimento(estabelecimento)">Editar</button>
                     <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteEstabelecimento(estabelecimento)">Deletar</button>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>
