<div class="container mb-5">
   <div class="estabelecimentod add-estabelecimento">
       <div class="alert alert-success" *ngIf="alerta != ''" role="alert">
         {{ alerta }}
         </div>


      <h5 class="estabelecimentod-header">Adicionar/Atualizar estabelecimento</h5>
      <div class="estabelecimentod-body">

        


         <form enctype="multipart/form-data" id="add-form" (ngSubmit)="f.form.valid && saveEstabelecimento(f)" #f="ngForm">
         <div class="row">
            <div class="form-group col-md-4">
               <label for="model">Titulo</label>
               <input type="text" [(ngModel)]="estabelecimento.titulo" id="titulo" name="titulo" #titulo="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && titulo.invalid }" placeholder="Digite o titulo">
               <div *ngIf="f.submitted && titulo.invalid" class="invalid-feedback">
                  <div *ngIf="titulo.errors.required">Nome é obrigatório</div>
               </div>
            </div>
            <div class="form-group col-md-4">
               <label for="endereco">Endereço</label>
               <input type="text" [(ngModel)]="estabelecimento.endereco" id="endereco" name="endereco" #endereco="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && endereco.invalid }" placeholder="Digite a endereço">
               <div *ngIf="f.submitted && endereco.invalid" class="invalid-feedback">
                  <div *ngIf="endereco.errors.required">Endereço é obrigatório</div>
               </div>
            </div>
            
            
            <div class="col-md-12">
               <button type="submit" class="btn btn-primary btn-add-estabelecimento">Salvar</button>&nbsp;&nbsp;
               <button type="reset" class="btn btn-secondary btn-add-estabelecimento" (click)="cleanForm(f)">Cancelar</button>
            </div>
         </div>
         </form>
      </div>
   </div>
</div>

